# Project ARGUS Gitignore

.*
!.gitignore
!.dockerignore
!.dvcignore
!.github/
!.github/**
!.dvc/
!.dvc/config

# Local Environment Credentials
.env

# Python Virtual Environment
.venv/
.venv-*/
bin/
include/
lib/
share/
pyvenv.cfg

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Data Directories (Managed by DVC)
/data/*
!/data/**/*.dvc
!/data/**/.gitignore

# MLflow Experiment Tracking
mlruns/
mlflow.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Hydra Config Output
outputs/
multirun/
